---
layout: default
title: Home
nav-order: 1
intro-title: Viaggiare in Grecia
intro: Una terra dai mille contrasti, dove mucchietti di cupole blu colorano bianchi villaggi che si inerpicano a strapiombo sul mare, interminabili tappeti di buganvillea scivolano verso spiagge dorate, basiliche bizantine svettano a fianco di rifugi luxury nascosti, e feste glamour animano fino a notte fonda isole in cui il tempo sembra essersi fermato. Lasciati cullare su una barca a vela, guardando il sole tuffarsi all’orizzonte in un mare cristallino – ecco a te, la terra prediletta dagli dèi dell’Olimpo!
---


<section class="row row--padding">
  <div class="padding shadow narrow bg--white-trans align-center">
    <h1 class="title title--color title--large">{{page.intro-title}}</h1>
    <p>{{page.intro}}</p>
    <a href="{{site.baseurl}}/offerte" class="btn btn--blue">Tutte le offerte</a>
  </div>
</section>

<!-- MAIN FEATURES -->
<section class="section">
  <div class="row row--padding">
    <!-- gets all pages except overview -->
    {% assign nav-order = site.html_pages | sort:"nav-order" %}
    {% for page in nav-order %}
      {% if page.title != "Home" %}
        <li class="overview-nav__item">
          <a class="overview-nav__link" id="overview-nav-{{ page.class }}" href="{{ site.baseurl }}{{ page.url }}"></a>
          <div class="overview-nav__title-wrap">
            <span class="overview-nav__title title">{{ page.title }}</span>
          </div>
          <span class="overview-nav__image" style="background-image: url('{{site.baseurl}}/img/content/nav/{{ page.title | slugify }}.jpg');"></span>
        </li>
      {% endif %}
    {% endfor %}
  </div>
</section>

<!-- OFFERS - ONLY 2 -->
<section class="section offers">
  <div class="row row--padding">
    <h2 class="align-center title title--medium title--color title--light title--hrs"><span>Offerte esclusive</span></h2>
  </div>
  <div class="row row--padding">
    {% assign offers = site.data.offers | sort: 'saved' | reverse %}
    {% for offer in offers limit: 2 %}
      {% include offer.html %}
    {% endfor %}
  </div>
  <div class="align-center">
    <a href="{{site.baseurl}}/offerte" class="btn btn--orange">Tutte le offerte</a>
  </div>
</section>