---
layout: default
title: Overview
nav-order: 1
intro-title: Get To Greece
intro: In this land of contrasts, domed blue churches crown whitewashed villages, bougainvillea-blanketed backstreets lead to wide sandy bays, Byzantine churches exist alongside luxury hideaways, and glamorous party islands neighbour those that time forgot. Dive into the glittering sea from a sailing boat and catch the sunset on the way back to shore - you’ll soon see why this is a destination fit for gods.
---


<section class="row row--padding">
  <div class="padding shadow narrow bg--white-trans align-center">
    <h1 class="title title--color title--large">{{page.intro-title}}</h1>
    <p>{{page.intro}}</p>
    <a href="{{site.baseurl}}/offers" class="btn btn--blue">See All Offers</a>
  </div>
</section>

<!-- MAIN FEATURES -->
<section class="section">
  <div class="row row--padding">
    <!-- gets all pages except overview -->
    {% assign nav-order = site.html_pages | sort:"nav-order" %}
    {% for page in nav-order %}
      {% if page.title != "Overview" %}
        <li class="overview-nav__item">
          <a class="overview-nav__link" id="overview-nav-{{ page.class }}" href="{{ site.baseurl }}{{ page.url }}"></a>
          <div class="overview-nav__title-wrap">
            <span class="overview-nav__title title">{{ page.title }}</span>
          </div>
          <span class="overview-nav__image" style="background-image: url('{{site.baseurl}}/img/content/nav/{{ page.title | slugify }}.jpg');"></span>
        </li>
      {% endif %}
    {% endfor %}
  </div>
</section>

<!-- OFFERS - ONLY 2 -->
<section class="section offers">
  <div class="row row--padding">
    <h2 class="align-center title title--medium title--color title--light title--hrs"><span>Exclusive Offers</span></h2>
  </div>
  <div class="row row--padding">
    {% assign offers = site.data.offers | sort: 'saved' | reverse %}
    {% for offer in offers limit: 2 %}
      {% include offer.html %}
    {% endfor %}
  </div>
  <div class="align-center">
    <a href="{{site.baseurl}}/offers" class="btn btn--orange">See All Offers</a>
  </div>
</section>