<li class="{{include.block}}__item"><a class="{{include.block}}__link" href="https://it.secretescapes.com/offerte-in-corso">Offerte In Corso</a></li>
<li class="{{include.block}}__item"><a class="{{include.block}}__link" href="https://it.secretescapes.com/offerta-voucher">Buoni Regalo</a></li>
<li class="{{include.block}}__item"><a class="{{include.block}}__link" href="https://it.secretescapes.com/invita-amici">Invita I Tuoi Amici</a></li>
<li class="{{include.block}}__item"><a class="{{include.block}}__link {{include.block}}__link--current" href="{{ site.baseurl }}">{{ site.title }}</a></li>