---
layout: default
---
  <div class="page__wrap">
    <section class="row page page--hidden-gems shadow bg--white">

      <h1 class="page__title"><span class="title">{{page.title}}</span></h1>

      <div class="row">
        <div class="bg-image-ratio bg-image-ratio--3-2-to-21-9" style="background-image: url('{{site.baseurl}}/img/content/hidden-gems.jpg'); background-position: 50% 15%"></div>
      </div>

      <div class="row row--padding">
        <p class="p--large line-length line-length--center">{{page.intro}}</p>
      </div>

      <div class="row">
        {% assign page-class = page.title | slugify %}
        {% assign offers = site.data.offers | where: page-class, true | sort: 'saved' | reverse %}
        {% for offer in offers %}
          {% include offer-hidden-gem.html %}
        {% endfor %}
      </div>

    </section>
  </div>

<!-- OFFERS FOR CATEGORY -->
<section class="section offers">
  <div class="align-center">
    <a href="{{site.baseurl}}/offers" class="btn btn--large btn--orange">See All Offers</a>
  </div>
</section>